html {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  color: #ffffff;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  text-align: center;
  font-family: sans-serif;
}

.js-clock{
  font-size: xx-large;
}



.js-greetings,
.js-form {
    display: none;
}

.showing {
    display: block;
}


.bgImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  animation: fadeIn 1.1s linear;
}

form{
  background-color: #fff;
  padding: 15px;
}
input[type="text"]{
  width: 310px;
  height: 30px;
  outline: 0;
  border: none;
  font-size: 1.5em;
  background: #fff;
  color: #2f4f4f;
}

ul{
  list-style: none;
}
li{
  border-bottom: 1px solid #53BDFF;
  padding-bottom: 15px;
  padding-top: 15px;
  font-size: 1.3em;
  color: #2f4f4f;
}


@media (max-width: 500px) {
  .main{
    margin: auto;
    width: 100%;
  }
  input[type="text"]{
    width: 80%;
  }
  button{
    width: 10%;
  }
}
